.page li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 30px;
    text-decoration: none;
}
.page li a:hover {
    background-color: #111;
    border-radius: 10px;
}
